<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ffw_lg2_leader_right_system" params="use_sim:=^|false use_mock_hardware:=^|false mock_sensor_commands:=^|false port_name:=^|/dev/right_leader">
    <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="ffw_lg2_leader_right" type="system" is_async="true">

      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_mock_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
            <param name="mock_sensor_commands">${mock_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
          <xacro:unless value="${use_mock_hardware}">
            <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
            <param name="port_name">${port_name}</param>
            <param name="baud_rate">4000000</param>
            <param name="dynamixel_model_folder">/param/dxl_model</param>
            <param name="number_of_joints">8</param>
            <param name="number_of_transmissions">8</param>
            <param name="disable_torque_at_init">true</param>
            <param name="dynamixel_state_pub_msg_name">dynamixel_hardware_interface/dxl_state</param>
            <param name="get_dynamixel_data_srv_name">dynamixel_hardware_interface/get_dxl_data</param>
            <param name="set_dynamixel_data_srv_name">dynamixel_hardware_interface/set_dxl_data</param>
            <param name="reboot_dxl_srv_name">dynamixel_hardware_interface/reboot_dxl</param>
            <param name="set_dxl_torque_srv_name">dynamixel_hardware_interface/set_dxl_torque</param>
          </xacro:unless>
        </hardware>
      </xacro:unless>

      <sensor name="sensorxel_r_joy">
        <state_interface name="JOYSTICK X VALUE"/>
        <state_interface name="JOYSTICK Y VALUE"/>
        <state_interface name="JOYSTICK TACT SWITCH"/>
      </sensor>
      <joint name="gripper_r_joint1">
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="arm_r_joint1">
        <state_interface name="position"/>
      </joint>
      <joint name="arm_r_joint2">
        <state_interface name="position"/>
      </joint>
      <joint name="arm_r_joint3">
        <state_interface name="position"/>
      </joint>
      <joint name="arm_r_joint4">
        <state_interface name="position"/>
      </joint>
      <joint name="arm_r_joint5">
        <state_interface name="position"/>
      </joint>
      <joint name="arm_r_joint6">
        <state_interface name="position"/>
      </joint>
      <joint name="arm_r_joint7">
        <state_interface name="position"/>
      </joint>

      <gpio name="sensorxel_r_joy">
        <param name="type">sensor</param>
        <param name="ID">10</param>
        <state_interface name="JOYSTICK X VALUE"/>
        <state_interface name="JOYSTICK Y VALUE"/>
        <state_interface name="JOYSTICK TACT SWITCH"/>
      </gpio>
      <gpio name="dxl8">
        <param name="type">dxl</param>
        <param name="ID">8</param>
        <command_interface name="Goal Current"/>
        <state_interface name="Present Position"/>
        <state_interface name="Present Velocity"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">0</param>
        <param name="Return Delay Time">0</param>
        <param name="Torque Enable">1</param>
      </gpio>
      <gpio name="dxl1">
        <param name="type">dxl</param>
        <param name="ID">1</param>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">3</param>
        <param name="Return Delay Time">0</param>
        <param name="Torque Enable">0</param>
      </gpio>
      <gpio name="dxl2">
        <param name="type">dxl</param>
        <param name="ID">2</param>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">3</param>
        <param name="Return Delay Time">0</param>
        <param name="Torque Enable">0</param>
      </gpio>
      <gpio name="dxl3">
        <param name="type">dxl</param>
        <param name="ID">3</param>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">3</param>
        <param name="Return Delay Time">0</param>
        <param name="Torque Enable">0</param>
      </gpio>
      <gpio name="dxl4">
        <param name="type">dxl</param>
        <param name="ID">4</param>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">3</param>
        <param name="Return Delay Time">0</param>
        <param name="Torque Enable">0</param>
      </gpio>
      <gpio name="dxl5">
        <param name="type">dxl</param>
        <param name="ID">5</param>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">3</param>
        <param name="Return Delay Time">0</param>
        <param name="Torque Enable">0</param>
      </gpio>
      <gpio name="dxl6">
        <param name="type">dxl</param>
        <param name="ID">6</param>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">3</param>
        <param name="Return Delay Time">0</param>
        <param name="Torque Enable">0</param>
      </gpio>
      <gpio name="dxl7">
        <param name="type">dxl</param>
        <param name="ID">7</param>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">3</param>
        <param name="Return Delay Time">0</param>
        <param name="Torque Enable">0</param>
      </gpio>

    </ros2_control>

  </xacro:macro>

</robot>
