<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ffw_sh5_base_system" params="use_sim:=^|false use_mock_hardware:=^|false mock_sensor_commands:=^|false">
    <ros2_control name="ffw_sh5_base" type="system" is_async="true">
      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_mock_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
            <param name="mock_sensor_commands">${mock_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
          <xacro:unless value="${use_mock_hardware}">
            <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
            <param name="port_name">/dev/ttyUSB0</param>
            <param name="baud_rate">4000000</param>
            <param name="dynamixel_model_folder">/param/dxl_model</param>
            <param name="number_of_joints">3</param>
            <param name="number_of_transmissions">3</param>
            <param name="disable_torque_at_init">true</param>
            <param name="dynamixel_state_pub_msg_name">ffw_base/dxl_state</param>
            <param name="get_dynamixel_data_srv_name">ffw_base/get_dxl_data</param>
            <param name="set_dynamixel_data_srv_name">ffw_base/set_dxl_data</param>
            <param name="reboot_dxl_srv_name">ffw_base/reboot_dxl</param>
            <param name="set_dxl_torque_srv_name">dynamixel_hardware_interface/set_dxl_torque</param>
            <param name="error_timeout_ms">500</param>
          </xacro:unless>
        </hardware>
      </xacro:unless>
      <joint name="left_wheel_drive">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_wheel_drive">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="rear_wheel_drive">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <gpio name="dxl102">
        <param name="type">virtual_dxl</param>
        <param name="ID">102</param>
        <param name="model_num">623</param>
        <param name="comm_id">200</param>
        <command_interface name="Goal Velocity"/>
        <state_interface name="Present Current"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">0</param>
        <param name="Operating Mode">1</param>
        <param name="Return Delay Time">0</param>
        <param name="Current Limit">2000</param>
        <param name="Velocity Limit">18600</param>
        <param name="Velocity FF LPF Freqency">100</param>
        <param name="Current I Gain">2042035</param>
        <param name="Current P Gain">2984</param>
        <param name="Velocity I Gain">2300000</param>
        <param name="Velocity P Gain">100000</param>
        <param name="Velocity FF Gain">50000</param>
        <param name="Profile Acceleration">200</param>
      </gpio>
      <gpio name="dxl104">
        <param name="type">virtual_dxl</param>
        <param name="ID">104</param>
        <param name="model_num">624</param>
        <param name="comm_id">200</param>
        <command_interface name="Goal Velocity"/>
        <state_interface name="Present Current"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">1</param>
        <param name="Return Delay Time">0</param>
        <param name="Current Limit">2000</param>
        <param name="Velocity Limit">18600</param>
        <param name="Velocity FF LPF Freqency">100</param>
        <param name="Current I Gain">2042035</param>
        <param name="Current P Gain">2984</param>
        <param name="Velocity I Gain">2300000</param>
        <param name="Velocity P Gain">100000</param>
        <param name="Velocity FF Gain">50000</param>
        <param name="Profile Acceleration">200</param>
      </gpio>
      <gpio name="dxl106">
        <param name="type">virtual_dxl</param>
        <param name="ID">106</param>
        <param name="model_num">625</param>
        <param name="comm_id">200</param>
        <command_interface name="Goal Velocity"/>
        <state_interface name="Present Current"/>
        <state_interface name="Present Velocity"/>
        <state_interface name="Present Position"/>
        <param name="Drive Mode">1</param>
        <param name="Operating Mode">1</param>
        <param name="Return Delay Time">0</param>
        <param name="Current Limit">2000</param>
        <param name="Velocity Limit">18600</param>
        <param name="Velocity FF LPF Freqency">100</param>
        <param name="Current I Gain">2042035</param>
        <param name="Current P Gain">2984</param>
        <param name="Velocity I Gain">2300000</param>
        <param name="Velocity P Gain">100000</param>
        <param name="Velocity FF Gain">50000</param>
        <param name="Profile Acceleration">200</param>
      </gpio>
      <gpio name="ffw_g10_rcu">
        <param name="type">controller</param>
        <param name="ID">200</param>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
